@charset "utf-8"; button { outline: none; border: none; background: none; resize: none; font-family: 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 

.rew_warp input,
.rew_warp button,
.rew_warp select,
.rew_warp textarea { outline: none; border: none; resize: none; font-family: 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 

button { cursor: pointer; } 

.layer_deam { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 5000; background: rgba(0, 0, 0, 0.4); border-radius: 0; } 

.layer_memo { text-align: left; } 
.layer_memo_in { position: fixed; left: 50%; margin-left: -325px; width: 650px; height: 300px; top: 50%; margin-top: -150px; background: #fff; border-radius: 10px; z-index: 6000; overflow: hidden; } 
.layer_memo_box { position: relative; height: calc(100% - 130px); padding: 30px; } 
.layer_memo_box .textarea_memo { border: 1px solid #e5e5e5; background: #fff; border-radius: 10px; font-size: 16px; color: #666; font-weight: 300; letter-spacing: -0.05em; line-height: 27px; text-align: left; padding: 15px 20px; resize: none; overflow-y: scroll; width: calc(100% - 42px); height: 138px; } 
.layer_memo_box .textarea_memo_secret { border: 1px solid #e5e5e5; background: #fff; border-radius: 10px; font-size: 16px; color: #666; font-weight: 300; letter-spacing: -0.05em; line-height: 27px; text-align: left; padding: 15px 20px; resize: none; overflow-y: scroll; width: calc(100% - 42px); height: 138px; } 
.layer_memo_box .textarea_memo::-webkit-scrollbar { display: none; } 
.layer_memo_box .textarea_memo_secret::-webkit-scrollbar { display: none; } 
.layer_memo_btn { height: 40px; padding: 15px 20px; text-align: right; font-size: 0; background: #f6f7f9; position: relative; } 
.layer_memo_btn .layer_memo_cancel { font-size: 15px; font-weight: 400; letter-spacing: -0.05em; color: #aaa; line-height: 40px; width: 45px; height: 40px; text-align: center; background: none; display: inline-block; vertical-align: top; } 
.layer_memo_btn .layer_memo_submit { font-size: 15px; font-weight: 400; letter-spacing: -0.05em; color: #fff; line-height: 40px; width: 92px; margin-left: 10px; background: #999; display: inline-block; vertical-align: top; border-radius: 5px; } 
.layer_memo_btn .layer_memo_submit.on { background: #38c9d2; cursor: pointer; } 
.layer_memo_btn .layer_memo_secret_submit { font-size: 15px; font-weight: 400; letter-spacing: -0.05em; color: #fff; line-height: 40px; width: 92px; margin-left: 10px; background: #999; display: inline-block; vertical-align: top; border-radius: 5px; } 
.layer_memo_btn .layer_memo_secret_submit.on { background: #38c9d2; cursor: pointer; } 

@media all and (max-width: 960px){
 .layer_memo_in { left:5%; width:90%; transform: translateY(-50%); margin-left:0; height:auto; margin-top:0; } 
 .layer_memo_box { padding:20px; height:calc(100% - 95px); } 
 .layer_memo_box .textarea_memo { font-size:13px; line-height:24px; padding:10px 15px; width:calc(100% - 32px); height:200px; border-radius: 5px; } 
 .layer_memo_btn { height:77px; padding:10px 15px; box-sizing: border-box; } 
 .layer_memo_btn .layer_memo_cancel { font-size:13px; height:47px; line-height:47px; margin-top: 6px; } 
 .layer_memo_btn .layer_memo_submit { font-size:13px; width:100px; line-height:47px; margin-left:8px; margin-top: 6px; } 
 .layer_memo_btn .layer_memo_secret_submit { font-size:13px; width:100px; line-height:47px; margin-left:8px; margin-top: 6px; } 
 }