@charset "utf-8"; input, button, select, textarea { outline: none; border: none; background: none; resize: none; font-family: 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 
button { cursor: pointer; } 

.layer_deam { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 3000; background: rgba(0,0,0,0.4); } 

.layer_pro_in { width: 460px; min-height: 429px; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border-radius: 10px; z-index: 6000; overflow: hidden; } 

.layer_close { position: absolute; top: 15px; right: 15px; z-index: 10; transition: all 0.3s; } 
.layer_close button { width: 20px; height: 20px; background: url(../images/pre/ico_close.png) 50% 50% no-repeat; text-indent: -9999px; } 

.layer_top { text-align: center; padding: 30px 0 15px 0; margin: 0 30px; margin-bottom: 40px; border-bottom: 1px solid #f2f2f2; transition: all 0.3s; } 
.layer_top strong { display: block; font-size: 18px; font-weight: 500; color: #252525; letter-spacing: -0.05em; line-height: 28px; padding-left: 2px; } 

.layer_area { margin-bottom: 20px; padding: 0 30px; } 

.t_layer input, .t_layer button, .t_layer select, .t_layer textarea { outline:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; resize:none; font-family:'Apple SD Gothic Neo', 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 
.t_layer_req input, .t_layer_req button, .t_layer_req select, .t_layer_req textarea { outline:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; resize:none; font-family:'Apple SD Gothic Neo', 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 
.t_layer_date input, .t_layer_date button, .t_layer_date select, .t_layer_date textarea { outline:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; resize:none; font-family:'Apple SD Gothic Neo', 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 
.t_layer_goal input, .t_layer_goal button, .t_layer_goal select, .t_layer_goal textarea { outline:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; resize:none; font-family:'Apple SD Gothic Neo', 'Noto Sans KR', 'Helvetica', Malgun Gothic, '맑은 고딕', 'Nanum Gothic', Nanum Gothic, '나눔고딕', Dotum, '돋움', Gulim, '굴림', sans-serif; } 
.todaywork_wrap button { cursor:pointer; outline:none; } 
/* .rew_warp button { cursor:pointer; outline:none; border:none; background:none; } */
.t_layer button { cursor:pointer; outline:none; } 

.t_layer { /* height: 100%; position: relative; */ z-index: 6000 } 

.tl_deam { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 3000; background: rgba(0,0,0,0.4); } 

/* rew_layer_pay_01 */
.lay_pay { width: 520px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; border-radius: 10px; padding: 60px 40px 50px 40px; z-index: 9999; box-sizing: border-box; } 

.lay_pay:after { content: ""; position: absolute; top: 30px; right: 40px; width: 100px; height: 29px; background: url(../images/pre/img_logo.png) 50% 50% no-repeat; text-indent: -9999px; } 

.lay_pay .pay_tit { } 
.lay_pay .pay_tit h2 { font-size: 30px; font-weight: bold; letter-spacing: -0.05em; display: block; text-align: left; color: #353535; line-height: 30px; margin-bottom: 10px; } 
.lay_pay .pay_tit p { font-weight: 300; font-size: 15px; letter-spacing: -0.05em; display: block; text-align: left; color: #858585; line-height: 24px; } 

.lay_pay .pay_input { } 
.lay_pay .pay_input .pay_input_in { display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 30px; } 
.lay_pay .pay_input .pay_input_in input { width: 100%; padding: 0 20px; height: 55px; line-height: 55px; border: 1px solid #e5e5e5; border-radius: 10px; text-align: left; background: #fff; font-size: 16px; color: #454545; letter-spacing: 0; font-weight: 300; margin-bottom: 10px; } 
.lay_pay .pay_input .pay_input_in input.name, 
.lay_pay .pay_input .pay_input_in input.department { width: calc(100% / 2 - 5px); } 

/* check */
.lay_pay .pay_input .pay_input_in .pay_check { width: 100%; display: flex; justify-content: space-between; } 
.lay_pay .pay_input .pay_input_in .pay_check input { width: calc(100% - 102px); } 
.lay_pay .pay_input .pay_input_in .pay_check button { width: 92px; height: 55px; font-size: 15px; letter-spacing: -1px; font-weight: 300; color: #38c9d2; border: 1px solid #38c9d2; border-radius: 10px; } 
.lay_pay .pay_input .pay_input_in .pay_check button.on { color: #fff; border: none; background: #38c9d2; } 
.lay_pay .pay_input .pay_input_in .pay_check button.ok { background: #aaa; color: #fff; border: none; } 

.lay_pay .submit_btn { margin-top: 30px; } 
.lay_pay .submit_btn button { width: 100%; height: 60px; font-size: 18px; font-weight: bold; line-height: 60px; letter-spacing: -0.05em; color: #fff; vertical-align: top; background: #38c9d2; border: 0; border-radius: 10px; } 

/* rew_layer_pay_02 */
.pay_02_input { } 
.pay_02_input_in { } 
.pay_02_input_in .pay_cont { width: 100%; height: auto; background: #f6f7f9; border-radius: 10px; padding: 40px 30px 30px 30px; margin-top: 30px; box-sizing: border-box; } 
.pay_02_input_in .pay_cont p { font-size: 17px; color: #353535; letter-spacing: -0.05em; text-align: center; font-weight: 500; line-height: 24px; } 

.pay_02_input_in .pay_cont .pay_count { display: flex; justify-content: center; align-items: center; margin: 25px 0 30px 0; } 
.pay_02_input_in .pay_cont .pay_count button { width: 55px; height: 55px; border: 1px solid #e5e5e5; border-radius: 10px; background: #fff; text-indent: -9999px; } 
.pay_02_input_in .pay_cont .pay_count .cont_num { width: 170px; height: 55px; font-size: 16px; color: #555; letter-spacing: -0.05em; line-height: 55px; text-align: center; border: 1px solid #e5e5e5; border-radius: 10px; background: #fff; margin: 0 10px; } 
.pay_02_input_in .pay_cont .pay_count .cont_sub button { background: #fff url(../images/pre/ico_pay_sub.png) no-repeat 50% 50%; background-size: 13px; } 
.pay_02_input_in .pay_cont .pay_count .cont_plus button { background: #fff url(../images/pre/ico_pay_plus.png) no-repeat 50% 50%; background-size: 13px; } 

.pay_02_input_in .pay_cont .pay_text { font-size: 13px; color: #aaa; letter-spacing: -0.05em; font-weight: 300; } 

.pay_02_input_in .pay_cash { width: 100%; height: 55px; display: flex; justify-content: space-between; position: relative; border: 1px solid #e5e5e5; border-radius: 10px; margin-top: 20px; padding: 0 20px; box-sizing: border-box; } 
.pay_02_input_in .pay_cash p { font-size: 15px; color: #656565; line-height: 55px; } 
.pay_02_input_in .pay_cash .pay { font-size: 23px; font-weight: bold; line-height: 55px; color: #38c9d2; } 
.pay_02_input_in .pay_cash em { font-size: 15px; font-weight: 300; line-height: 53px; margin-left: 2px; color: #38c9d2; } 

.move_before { margin-top: 20px; } 
.move_before button { width: 100%; display: inline-block; font-size: 15px; text-decoration: underline; color: #aaa; text-align: center; font-weight: 300; } 
.move_before button span { } 

@media screen and (max-width: 540px){
 .lay_pay { width: 90%; padding: 30px 20px; } 
 .lay_pay:after { display: none; } 

 .lay_pay .pay_tit h2 { font-size: 18px; margin-bottom: 5px; } 
 .lay_pay .pay_tit p { font-size: 14px; line-height: 20px; } 

 .lay_pay .pay_input .pay_input_in { margin-top: 20px; } 
 .lay_pay .pay_input .pay_input_in input { height: 47px; border-radius: 5px; font-size: 12px; line-height: 47px; padding: 0 15px; } 

 .lay_pay .submit_btn { margin-top: 20px; } 
 .lay_pay .submit_btn button { height: 47px; line-height: 47px; border-radius: 5px; font-size: 14px; font-weight: 500; } 

 /* rew_layer_pay_02 */
 .pay_02_input_in .pay_cont { margin-top: 20px; border-radius: 5px; padding: 30px 15px 20px 15px; } 
 .pay_02_input_in .pay_cont p { font-size: 15px; } 
 
 .pay_02_input_in .pay_cont .pay_count { margin: 15px 0 20px 0; } 
 .pay_02_input_in .pay_cont .pay_count button { width: 44px; height: 44px; border-radius: 5px; } 
 .pay_02_input_in .pay_cont .pay_count .cont_num { width: 150px; height: 44px; border-radius: 5px; line-height: 44px; font-size: 12px; margin: 0 5px; } 
 .pay_02_input_in .pay_cont .pay_text { font-size: 12px; } 

 .pay_02_input_in .pay_cash { height: 44px; line-height: 44px; border-radius: 5px; line-height: 44px; padding: 0 15px; margin-top: 15px; } 
 .pay_02_input_in .pay_cash label { font-size: 12px; line-height: 44px; } 
 .pay_02_input_in .pay_cash input { right: 30px; font-size: 16px; } 
 .pay_02_input_in .pay_cash span { right: 15px; bottom: -2px; font-size: 12px; } 

 .move_before { margin-top: 10px; } 
 .move_before button { font-size: 12px; } 
 }











