@charset "utf-8"; /* .rb_warp { height: 2074px; } */

/* banner */
.sub_05_banner { } 
.sub_05_banner_in { width: 100%; height: 318px; position: relative; background: url(../images/pre/sub_05_banner.png); margin-top: 80px; color: #fff; } 
.sub_05_banner_in .banner_text { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; margin-top: -10px; } 
.sub_05_banner_in .banner_text h2 { text-align: center; font-size: 40px; letter-spacing: -0.05em; margin-bottom: 15px; } 
.sub_05_banner_in .banner_text span { font-size: 18px; letter-spacing: -0.05em; } 

/* sub_05_cont */
.sub_05_cont { } 
.sub_05_cont_in { max-width: 1200px; padding-top: 80px; padding-bottom: 160px; margin: 0 auto; } 

/* tab_btn */
.tab_btn { } 
.tab_btn ul { display: flex; justify-content: space-between; border-bottom: 1px solid #dfe0e2; } 
.tab_btn ul li { width: calc(100% / 5); height: 52px; position: relative; } 
.tab_btn ul li button { width: 100%; height: 100%; } 
.tab_btn ul li button span { font-size: 18px; line-height: 52px; letter-spacing: -0.05em; font-weight: 700; color: #757575; text-align: center; } 

.tab_btn ul li.on::after { content: ''; display: block; width: 100%; height: 2px; position: absolute; bottom: -1px; background: #000; } 
.tab_btn ul li.on button { } 
.tab_btn ul li.on button span { color: #222; } 

/* cont_top */
.sub_05_cont .cont_tit { position: relative; display: flex; justify-content: space-between; align-items: flex-end; padding-top: 40px; } 
.sub_05_cont .cont_tit .cont_tit_txt { font-size: 18px; letter-spacing: -0.05em; color: #757575; font-weight: 500; } 
.sub_05_cont .cont_tit .cont_tit_txt span { } 
.sub_05_cont .cont_tit .cont_tit_txt span strong { color: #38c9d2; } 

.sub_05_cont .cont_tit .cont_search { width: 210px; position: relative; display: inline-block; } 
.sub_05_cont .cont_tit .cont_search input { width: calc(100% - 70px); height: 45px; padding: 0 50px 0 20px; font-size: 15px; font-weight: 300; color: #454545; letter-spacing: -0.05em; line-height: 45px; border: 1px solid #e1e1e1; border-radius: 5px; background: #fff; } 
.sub_05_cont .cont_tit .cont_search button { position: absolute; top: 0; right: 0; width: 50px; height: 47px; background: url(../images/pre_m/ico_live_search.png) 50% 50% no-repeat; background-size: 19px; text-indent: -9999px; } 
.sub_05_cont .cont_tit .cont_search button span { } 

.sub_05_cont .cont_tit::after { content: ''; width: 100%; height: 1px; position: absolute; bottom: -25px; display: block; background: #222; } 

/* cont_list */
.sub_05_cont .cont_main { padding-top: 60px; } 
.sub_05_cont .cont_main .cont_main_in { } 
.sub_05_cont .cont_main .cont_main_in ul { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; } 
.sub_05_cont .cont_main .cont_main_in ul li { width: calc(100% / 3 - 10px); height: 230px; margin-right: 15px; border-radius: 15px; background: #454545; padding: 40px 40px 30px 40px; margin-bottom: 20px; box-sizing: border-box; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(3n) { margin-right: 0;}
.sub_05_cont .cont_main .cont_main_in ul li a { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; } 
.sub_05_cont .cont_main .cont_main_in ul li h3 { font-size: 25px; letter-spacing: -0.05em; line-height: 32px; color: #fff; } 
.sub_05_cont .cont_main .cont_main_in ul li span { font-size: 13px; color: #fff; font-weight: 300; opacity: 0.6; } 

.sub_05_cont .cont_main .cont_main_in ul li:nth-child(1) { background: #363660; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(2) { background: #773cc8; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(3) { background: #3482ed; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(4) { background: #ed8734; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(5) { background: #face00; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(6) { background: #3cc8ac; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(7) { background: #8c8965; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(8) { background: #5dcbe2; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(9) { background: #3c3cc8; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(10) { background: #4e5e95; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(11) { background: #38863c; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(12) { background: #ff77a1; } 

/* more_btn */
.sub_05_cont .cont_more { text-align: center; padding-top: 80px; } 
.sub_05_cont .cont_more button { padding: 15px 65px; border-radius: 50px; background: #151515; } 
.sub_05_cont .cont_more button span { font-size: 17px; color: #fff; } 

@media screen and (max-width: 1300px){
 .sub_05_cont_in { padding: 80px 20px 0 20px; } 
 }
@media screen and (max-width: 960px) { /* banner */
 .sub_05_banner { } 
 .sub_05_banner_in { height: 248px; margin-top: 60px; } 
 .sub_05_banner_in .banner_text { } 
 .sub_05_banner_in .banner_text h2 { font-size: 22px; line-height: 1.7; } 
 .sub_05_banner_in .banner_text span { font-size: 14px; line-height: 1.8; margin-top: 15px; margin-bottom: 25px;; } 

 /* sub_05_cont */
 .sub_05_cont_in { padding: 25px 20px 0 20px; } 

 /* cont_top */
.sub_05_cont .cont_tit { } 
.sub_05_cont .cont_tit .cont_tit_txt { } 
.sub_05_cont .cont_tit .cont_tit_txt span { } 
.sub_05_cont .cont_tit .cont_tit_txt span strong { } 

.sub_05_cont .cont_tit .cont_search { } 
.sub_05_cont .cont_tit .cont_search input { font-size: 12px; } 
.sub_05_cont .cont_tit .cont_search button { } 
.sub_05_cont .cont_tit .cont_search button span { } 

 /* cont_main */
.sub_05_cont .cont_main { } 
.sub_05_cont .cont_main .cont_main_in { } 
.sub_05_cont .cont_main .cont_main_in ul { } 
.sub_05_cont .cont_main .cont_main_in ul li { height: 200px; border-radius: 10px; padding: 30px 0px 30px 20px; } 
.sub_05_cont .cont_main .cont_main_in ul li a { } 
.sub_05_cont .cont_main .cont_main_in ul li h3 { font-size: 18px; line-height: 24px; } 
.sub_05_cont .cont_main .cont_main_in ul li span { font-size: 12px; } 

 /* cont_more */
.sub_05_cont .cont_more { padding-top: 50px; } 
.sub_05_cont .cont_more button { } 
.sub_05_cont .cont_more button span { font-size: 14px; } 
 }

@media screen and (max-width: 620px) { 
 /* tab_btn */
 .tab_btn ul li button span { font-size: 14px; } 
 
 /* cont_main */
.sub_05_cont .cont_main .cont_main_in ul li { width: calc(100% / 2 - 8px); margin-bottom: 15px; } 
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(3n) { margin-right: 15px;}
.sub_05_cont .cont_main .cont_main_in ul li:nth-child(2n) { margin-right: 0px;}
 }

@media screen and (max-width: 420px){
.sub_05_cont .cont_main .cont_main_in ul li { width: 100%; height: 185px; margin-right: 0; padding: 30px 20px;} 
.sub_05_cont .cont_main .cont_main_in ul li a { } 
 }